@font-face {
	font-family: 'GothamPro_Medium';
	src: url('fonts/11031.eot?#iefix') format('embedded-opentype'),  
		 url('fonts/11031.woff') format('woff'), 
		 url('fonts/11031.ttf')  format('truetype'), 
		 url('fonts/11031.svg#GothamPro_Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	background:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
	margin:0;
	padding:0;
	-webkit-text-size-adjust: none;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
header,footer,article,section,hgroup,nav,figure{
	display:block;
}
button::-moz-focus-inner,
input[TYPE="RESET"]::-moz-focus-inner,
input[TYPE="BUTTON"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="SUBMIT"]::-moz-focus-inner,
input[TYPE="FILE"] > input[TYPE="BUTTON"]::-moz-focus-inner{
	border:none;
}
img{
	border:0;
	max-width: 100%;
}
a{
	transition: 0.2s;
	color: #333232;
}
p{
	margin: 0 0 20px;
	padding: 0;
	line-height: 120%;
}
ul li{
	list-style: none;
}
*:focus{
	outline:none;
}
.clear,
.main:after,
.clearfix:after{
	clear:both;
	float:none;
	font-size:0;
	height:0;
	line-height:0;
	margin:0;
	padding:0;
	content: ".";
	visibility: hidden;
	overflow: hidden;
	display: block;
}

/*----------------------------------*/
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/*** Color Variables ***/
/*** Centering Hack ***/
/*** Header Styles ***/
header {
  width: 100vw;
  height: 100vh;
  /* background: #5661f2; */
  display: flex;
}

/*** Navigation Styles ***/
nav {
  width: 100vw;
  height: 93;
  /* background: #46b2f0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  z-index: 10;
  transition: all 0.3s;
}
nav.navShadow {
  /* height: 100px; */
}
#brand,
#menu,
ul {
  display: flex;
  align-items: center;
}

#brand {
  padding-left: 40px;
}

#logo {
  width: 213px;
  height: 61px;
  cursor: pointer;
  padding: 32px 0 0;
}


/*** Menu Styles ***/
#menu {
  justify-content: flex-end;
  padding-right: 40px;
}

li {
  margin-left: 20px;
}
li a {
  width: 80px;
  height: 20px;
  background: #ccc;
  display: block;
  border-radius: 90px;
}

#menu-toggle {
  width: 55px;
  height: 55px;
  background: #2ea8ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
#menu-toggle:hover .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar {
  width: 25px;
}
#menu-toggle.closeMenu .bar:first-child {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}
#menu-toggle.closeMenu .bar:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
#menu-toggle.closeMenu .bar:last-child {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

.bar {
  width: 25px;
  height: 2px;
  background: #fff;
  transition: 0.3s ease-in-out;
}
.bar:nth-child(2) {
  width: 20px;
  margin: 5px 0;
}
.bar:last-child {
  width: 15px;
}

/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  /* height: calc(100vh - 93px); */
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 93px; */
}

#head-line {
  width: 520px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  position: relative;
}

/*** Section Styles ***/
section {
  width: 100vw;
  height: calc(100vh);
  display: flex;
  justify-content: center;
}
section:nth-child(odd) {
  background: #fa6c98;
}
section:nth-child(even) {
  background: #79edfc;
}

#heading {
  width: 120px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  margin-top: 40px;
}

#youtube {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  font-size: 30px;
  color: #fff;
}

/*----------------------------------*/

.main{
	margin: 0 auto;
	width: 1280px;
}
.list_popup{
	display: none;
}

.fancybox-close{
	top: -35px;
    right: -35px;
}
#hero-section{
	background: url(../img/back-01.jpg) repeat-x 0 100% fixed,
				linear-gradient(to top, #5080b1, #004e8c) fixed;
	animation: city 300s linear infinite;
	-webkit-animation: city 300s linear infinite;
	background-size: cover;
}
@keyframes city {
	from { background-position: -2200px 100%, 120% 30%, 120% 15%, 0 0;}
	to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
}
@-webkit-keyframes city {
	from { background-position: -2200px 100%, 120% 30%, 120% 15%, 0 0;}
	to { background-position: 0 100%, -200% 10%, -50% 15%, 0 0; }
}
   

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 767px) {
  #menu-toggle {
    display: flex;
  }

  ul {
    display: inline-block;
    width: 100vw;
    height: 0;
    background: #79edfc;
    position: absolute;
    top: 93px;
    -webkit-transform: translate(, );
            transform: translate(, );
    box-shadow: 0 5px 30px -4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  ul.showMenu {
    height: 250px;
  }
  ul.showMenu li {
    height: 80px;
    opacity: 1;
    visibility: visible;
  }

  li {
    width: 50%;
    height: 80px;
    float: left;
    padding-left: 40px;
    opacity: 0;
    visibility: hidden;
    margin-left: 0;
    transition: all 0.3s 0.1s;
  }
  li:first-child, li:nth-child(2) {
    margin-top: 80px;
  }

  #head-line {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}